# Ignore everything in root folder except backend, frontend, and .gitignore
/*
!/backend/
!/frontend/
!/.gitignore

# OS / IDE / Environment
.DS_Store
Thumbs.db
.env
.env.*
auth.txt
*.log
.vscode/
.idea/
